@model List<ShopingNightMongo.Dtos.ProductImageDtos.ResultProductImageDto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductImageId</td>
                <td>@item.ProductName</td>
                <td><a href="/ProductImage/DeleteProductImage/@item.ProductImageId" class="btn btn-danger">Sil</a></td>
                <td><a href="/ProductImage/UpdateProductImage/@item.ProductImageId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/ProductImage/CreateProductImage/" class="btn btn-primary">Yeni Kategori Ekle</a>
</div>